/* line 19, /Users/macy/repos/about/wechat-typeset/src/sass/mixins.scss */
.full-width-section, .home-features .feature-container {
  *zoom: 1; }
  /* line 11, /Users/macy/repos/about/wechat-typeset/src/sass/mixins.scss */
  .full-width-section:after, .home-features .feature-container:after {
    content: '\200B';
    display: block;
    height: 0;
    clear: both; }

/* line 1, /Users/macy/repos/about/wechat-typeset/src/sass/layout.scss */
.full-width-section {
  padding: 24px; }
  /* line 5, /Users/macy/repos/about/wechat-typeset/src/sass/layout.scss */
  .full-width-section .full-width-section-content {
    max-width: 1200px;
    margin: 0 auto; }
  @media ("only screen and (min-width: 375px)") {
    .full-width-section {
      padding-top: 48px;
      padding-bottom: 48px; } }
  @media ("only screen and (min-width: 992px)") {
    .full-width-section {
      padding-top: 72px;
      padding-bottom: 72px; } }

/* line 3, /Users/macy/repos/about/wechat-typeset/src/sass/pages/home.scss */
.home-page .home-page-hero {
  padding-top: 32px;
  padding-bottom: 64px;
  background-color: #6f5499;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6f5499), to(#563d7c));
  background-image: -webkit-linear-gradient(top, #6f5499 0%, #563d7c 100%);
  background-image: -o-linear-gradient(top, #6f5499 0%, #563d7c 100%);
  background-image: linear-gradient(to bottom, #6f5499 0%, #563d7c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from-color', endColorstr='$to-color', GradientType=0);
  background-repeat: repeat-x; }
  /* line 9, /Users/macy/repos/about/wechat-typeset/src/sass/pages/home.scss */
  .home-page .home-page-hero .tagline {
    margin: 32px auto;
    text-align: center;
    max-width: 575px; }
    /* line 14, /Users/macy/repos/about/wechat-typeset/src/sass/pages/home.scss */
    .home-page .home-page-hero .tagline h1 {
      font-size: 40px;
      color: white; }
    /* line 19, /Users/macy/repos/about/wechat-typeset/src/sass/pages/home.scss */
    .home-page .home-page-hero .tagline p {
      color: #cdbfe3; }

/* line 1, /Users/macy/repos/about/wechat-typeset/src/sass/pages/edit.scss */
.edit-page {
  position: relative; }
  /* line 4, /Users/macy/repos/about/wechat-typeset/src/sass/pages/edit.scss */
  .edit-page .all-list-container {
    position: absolute;
    width: 300px;
    padding: 20px;
    background-color: #eee; }
  /* line 11, /Users/macy/repos/about/wechat-typeset/src/sass/pages/edit.scss */
  .edit-page .selected-list-container {
    margin-left: 300px;
    padding: 20px;
    min-height: 800px;
    border-left: 1px solid #e0e0e0; }
    /* line 17, /Users/macy/repos/about/wechat-typeset/src/sass/pages/edit.scss */
    .edit-page .selected-list-container .select-btn {
      display: block;
      width: 88px;
      margin: 0 auto 10px; }
    /* line 23, /Users/macy/repos/about/wechat-typeset/src/sass/pages/edit.scss */
    .edit-page .selected-list-container .selected-items-list {
      width: 400px;
      margin: 0 auto; }
      /* line 27, /Users/macy/repos/about/wechat-typeset/src/sass/pages/edit.scss */
      .edit-page .selected-list-container .selected-items-list .selected-inner-container {
        padding: 25px; }
  /* line 33, /Users/macy/repos/about/wechat-typeset/src/sass/pages/edit.scss */
  .edit-page .all-color-schemes .testcolor .mui-icon:before {
    color: #ff4081; }

/* line 3, /Users/macy/repos/about/wechat-typeset/src/sass/components/app-specific.scss */
.mui-app-canvas {
  height: 100%; }
  /* line 7, /Users/macy/repos/about/wechat-typeset/src/sass/components/app-specific.scss */
  .mui-app-canvas .mui-app-bar {
    background-color: #6f5499; }
    /* line 10, /Users/macy/repos/about/wechat-typeset/src/sass/components/app-specific.scss */
    .mui-app-canvas .mui-app-bar .logo {
      float: left;
      cursor: pointer;
      font-size: 24px;
      line-height: 64px;
      margin-bottom: 8px;
      font-weight: 300;
      color: #fff; }
    /* line 20, /Users/macy/repos/about/wechat-typeset/src/sass/components/app-specific.scss */
    .mui-app-canvas .mui-app-bar .github-icon-button {
      float: right;
      margin-right: -16px; }

/* line 29, /Users/macy/repos/about/wechat-typeset/src/sass/components/app-specific.scss */
.footer {
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  padding: 40px 0; }

/* line 3, /Users/macy/repos/about/wechat-typeset/src/sass/components/paper-feature.scss */
.home-features * {
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
/* line 7, /Users/macy/repos/about/wechat-typeset/src/sass/components/paper-feature.scss */
.home-features .paper-feature-title {
  font-size: 20px;
  background-color: #eee;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 64px; }
/* line 16, /Users/macy/repos/about/wechat-typeset/src/sass/components/paper-feature.scss */
.home-features .paper-feature {
  max-width: 300px;
  margin: 0 auto 24px auto; }
  /* line 20, /Users/macy/repos/about/wechat-typeset/src/sass/components/paper-feature.scss */
  .home-features .paper-feature:last-child {
    margin-bottom: 0; }
/* line 25, /Users/macy/repos/about/wechat-typeset/src/sass/components/paper-feature.scss */
.home-features .paper-feature-image {
  margin-bottom: -6px; }
@media ("only screen and (min-width: 768px)") {
  /* line 31, /Users/macy/repos/about/wechat-typeset/src/sass/components/paper-feature.scss */
  .home-features .feature-container {
    max-width: 906px; }

  /* line 36, /Users/macy/repos/about/wechat-typeset/src/sass/components/paper-feature.scss */
  .home-features .paper-feature {
    float: left;
    width: 33%;
    margin-right: 4px;
    margin-bottom: 0; }
    /* line 42, /Users/macy/repos/about/wechat-typeset/src/sass/components/paper-feature.scss */
    .home-features .paper-feature:first-child {
      margin-left: -2px; }
    /* line 46, /Users/macy/repos/about/wechat-typeset/src/sass/components/paper-feature.scss */
    .home-features .paper-feature:last-child {
      margin-right: 0; }
 }

/* line 1, /Users/macy/repos/about/wechat-typeset/src/sass/components/item-container.scss */
.item-container {
  margin-top: 10px;
  background-color: #fff;
  cursor: pointer; }
  /* line 6, /Users/macy/repos/about/wechat-typeset/src/sass/components/item-container.scss */
  .item-container .item-container-content {
    padding: 10px 20px; }

/* line 1, /Users/macy/repos/about/wechat-typeset/src/sass/components/selected-item-container.scss */
.selected-item-container {
  position: relative;
  border: 1px dashed #e5e5e5; }
  /* line 5, /Users/macy/repos/about/wechat-typeset/src/sass/components/selected-item-container.scss */
  .selected-item-container .selected-item-parent-container {
    padding: 10px; }
  /* line 10, /Users/macy/repos/about/wechat-typeset/src/sass/components/selected-item-container.scss */
  .selected-item-container .del-btn, .selected-item-container .drag-btn {
    position: absolute;
    top: 0;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
  /* line 15, /Users/macy/repos/about/wechat-typeset/src/sass/components/selected-item-container.scss */
  .selected-item-container .del-btn {
    right: -25px;
    cursor: pointer; }
  /* line 21, /Users/macy/repos/about/wechat-typeset/src/sass/components/selected-item-container.scss */
  .selected-item-container .drag-btn {
    right: -25px;
    cursor: move;
    display: none; }

/* line 1, /Users/macy/repos/about/wechat-typeset/src/sass/components/editor-panel.scss */
.editor-panel {
  background-color: rgba(225, 225, 225, 0.95);
  z-index: 99;
  height: 56px; }
  /* line 6, /Users/macy/repos/about/wechat-typeset/src/sass/components/editor-panel.scss */
  .editor-panel .mui-drop-down-menu {
    height: 40px; }
    /* line 11, /Users/macy/repos/about/wechat-typeset/src/sass/components/editor-panel.scss */
    .editor-panel .mui-drop-down-menu .mui-menu-control .mui-menu-control-bg {
      background-color: transparent; }
    /* line 15, /Users/macy/repos/about/wechat-typeset/src/sass/components/editor-panel.scss */
    .editor-panel .mui-drop-down-menu .mui-menu-control .mui-menu-label {
      color: rgba(0, 0, 0, 0.54); }
    /* line 19, /Users/macy/repos/about/wechat-typeset/src/sass/components/editor-panel.scss */
    .editor-panel .mui-drop-down-menu .mui-menu-control .mui-menu-drop-down-icon {
      color: rgba(0, 0, 0, 0.54); }
    /* line 22, /Users/macy/repos/about/wechat-typeset/src/sass/components/editor-panel.scss */
    .editor-panel .mui-drop-down-menu .mui-menu-control .mui-menu-control-underline {
      border-top: 1px solid rgba(0, 0, 0, 0.54); }
    /* line 27, /Users/macy/repos/about/wechat-typeset/src/sass/components/editor-panel.scss */
    .editor-panel .mui-drop-down-menu .mui-menu {
      background-color: rgba(225, 225, 225, 0.95); }
      /* line 30, /Users/macy/repos/about/wechat-typeset/src/sass/components/editor-panel.scss */
      .editor-panel .mui-drop-down-menu .mui-menu .mui-paper-container {
        background-color: rgba(225, 225, 225, 0.95); }
      /* line 34, /Users/macy/repos/about/wechat-typeset/src/sass/components/editor-panel.scss */
      .editor-panel .mui-drop-down-menu .mui-menu .mui-menu-item {
        color: rgba(0, 0, 0, 0.54); }
        /* line 37, /Users/macy/repos/about/wechat-typeset/src/sass/components/editor-panel.scss */
        .editor-panel .mui-drop-down-menu .mui-menu .mui-menu-item.mui-selected {
          color: #00a3cf; }
  /* line 44, /Users/macy/repos/about/wechat-typeset/src/sass/components/editor-panel.scss */
  .editor-panel .editor-button {
    vertical-align: top;
    margin: 10px; }
    /* line 50, /Users/macy/repos/about/wechat-typeset/src/sass/components/editor-panel.scss */
    .editor-panel .editor-button.mui-is-mini .mui-floating-action-button-container {
      height: 36px;
      width: 36px; }
    /* line 55, /Users/macy/repos/about/wechat-typeset/src/sass/components/editor-panel.scss */
    .editor-panel .editor-button.mui-is-mini .mui-floating-action-button-icon {
      line-height: 36px; }
    /* line 59, /Users/macy/repos/about/wechat-typeset/src/sass/components/editor-panel.scss */
    .editor-panel .editor-button.mui-is-mini .mui-floating-action-button-focus-ripple {
      width: 36px;
      height: 36px; }

/* line 1, /Users/macy/repos/about/wechat-typeset/src/sass/components/specific-icon-button.scss */
.specific-icon-button {
  padding: 6px;
  margin: 6px;
  background-color: aliceblue;
  border-radius: 50%;
  box-shadow: 1px 1px 1px inset; }

/* line 1, /Users/macy/repos/about/wechat-typeset/src/sass/components/color-scheme.scss */
.all-color-schemes, .specific-color-schemes {
  width: 240px; }

/* line 5, /Users/macy/repos/about/wechat-typeset/src/sass/components/color-scheme.scss */
.all-color-schemes {
  width: 240px;
  margin: 0 auto; }

/* line 10, /Users/macy/repos/about/wechat-typeset/src/sass/components/color-scheme.scss */
.specific-color-schemes {
  position: absolute;
  width: 260px;
  left: 100px;
  top: 66px;
  background-color: rgba(225, 225, 225, 0.95); }
  /* line 17, /Users/macy/repos/about/wechat-typeset/src/sass/components/color-scheme.scss */
  .specific-color-schemes button .mui-paper-container {
    padding: 10px; }

/* line 1, /Users/macy/repos/about/wechat-typeset/src/sass/components/color-picker.scss */
.color-picker-container {
  position: absolute;
  background-color: #fff; }

/* line 5, /Users/macy/repos/about/wechat-typeset/src/sass/components/color-picker.scss */
.color-picker-inner-container {
  position: relative;
  padding: 12px; }

/* line 10, /Users/macy/repos/about/wechat-typeset/src/sass/components/color-picker.scss */
.picker-wrapper {
  position: absolute; }

/* line 13, /Users/macy/repos/about/wechat-typeset/src/sass/components/color-picker.scss */
.slide-wrapper {
  position: relative;
  margin-left: 170px; }

/* line 17, /Users/macy/repos/about/wechat-typeset/src/sass/components/color-picker.scss */
.picker-wrapper, .picker {
  width: 160px;
  height: 160px; }

/* line 21, /Users/macy/repos/about/wechat-typeset/src/sass/components/color-picker.scss */
.slide-wrapper, .slide {
  width: 30px;
  height: 160px; }

/* line 26, /Users/macy/repos/about/wechat-typeset/src/sass/components/color-picker.scss */
.mini-btn {
  min-width: 68px;
  margin-top: 10px; }
  /* line 30, /Users/macy/repos/about/wechat-typeset/src/sass/components/color-picker.scss */
  .mini-btn .mui-raised-button-label {
    line-height: 30px; }

/* line 35, /Users/macy/repos/about/wechat-typeset/src/sass/components/color-picker.scss */
.picker-indicator, .slide-indicator {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none; }

/* line 42, /Users/macy/repos/about/wechat-typeset/src/sass/components/color-picker.scss */
.picker-indicator {
  width: 5px;
  height: 5px;
  border: 2px solid darkblue;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  opacity: 0.5;
  background-color: white; }

/* line 53, /Users/macy/repos/about/wechat-typeset/src/sass/components/color-picker.scss */
.slide-indicator {
  width: 100%;
  height: 10px;
  left: -4px;
  opacity: 0.6;
  border: 4px solid lightblue;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: white;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* line 11, /Users/macy/repos/about/wechat-typeset/src/sass/style.scss */
body {
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; }

/* line 16, /Users/macy/repos/about/wechat-typeset/src/sass/style.scss */
a {
  color: #00a3cf;
  text-decoration: none; }
  /* line 20, /Users/macy/repos/about/wechat-typeset/src/sass/style.scss */
  a:hover {
    text-decoration: underline; }

/* line 25, /Users/macy/repos/about/wechat-typeset/src/sass/style.scss */
.is-shown {
  display: block; }

/* line 30, /Users/macy/repos/about/wechat-typeset/src/sass/style.scss */
.is-hidden {
  display: none; }

/* line 35, /Users/macy/repos/about/wechat-typeset/src/sass/style.scss */
.pull-left {
  float: left; }

/* line 39, /Users/macy/repos/about/wechat-typeset/src/sass/style.scss */
.pull-right {
  float: right; }


/*# sourceMappingURL=maps/style.css.map */