//colors


//body colors
$main-color: #6f5499;

//text

$accent-color: #00a3cf;
$light-text-color: #cdbfe3;
$grey-300:  #e0e0e0;
$dark-color: rgba(0,0,0,.54);


//border-color

$border-color: #e5e5e5;

//bg-color

$bg-color: #eee;
$dark-grey-bg-color: rgba(33,33,33,.9);
$light-grey-bg-color: rgba(225,225,225,.95);


//layout 


//media queries

$device-x-large: "only screen and (min-width: 1200px)";
$device-large:   "only screen and (min-width: 992px)";
$device-medium:  "only screen and (min-width: 768px)";
$device-small:   "only screen and (min-width: 375px)";


//spacing

$icon-size                         : 24px;
$desktop-gutter                    : 24px;
$desktop-gutter-more               : 32px;
$desktop-gutter-less               : 16px;
$desktop-gutter-mini               : 8px;
$desktop-keyline-increment         : 64px;
$desktop-drop-down-menu-item-height: 32px;
$desktop-drop-down-menu-font-size  : 15px;
$desktop-left-nav-menu-item-height : 48px;
$desktop-subheader-height          : 48px;
$desktop-toolbar-height            : 56px;

$normal-padding: 20px;


//mini size

$floating-action-button-mini-size: 36px;

