.editor-panel {
  background-color: $light-grey-bg-color;  
  z-index: 99;
  height: 56px;

  .mui-drop-down-menu {
    height: 40px;
    
    .mui-menu-control {
      
      .mui-menu-control-bg {
        background-color: transparent;
      }

      .mui-menu-label {
        color: $dark-color;
      }

      .mui-menu-drop-down-icon {
        color: $dark-color;
      }
      .mui-menu-control-underline {
        border-top: 1px solid $dark-color;
      }
    }

    .mui-menu {
      background-color: $light-grey-bg-color;

      .mui-paper-container {
        background-color: $light-grey-bg-color;
      }

      .mui-menu-item {
        color: $dark-color;

        &.mui-selected {
          color: $accent-color;
        }
      }
    }
  }

  .editor-button {
    vertical-align: top;
    margin: 10px;
    
    &.mui-is-mini {

      .mui-floating-action-button-container {
        height: $floating-action-button-mini-size;
        width: $floating-action-button-mini-size;
      }

      .mui-floating-action-button-icon {
        line-height: $floating-action-button-mini-size;
      }

      .mui-floating-action-button-focus-ripple {
        width: $floating-action-button-mini-size;
        height: $floating-action-button-mini-size;
      }
    }
  } 
}
